body {
background: #E5E5E5;
}
.section2
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
}
.section2 p
{
    text-align: center;
    position: absolute;
    width: 292px;
    height: 26px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161616;
    
}
img
{
    position: absolute;
    width: 303px; 
    height: 303px;
    left: 70px;
    top: 612px;
    background: url(), #C4C4C4;
    border-radius: 5px;
}