body {
background: #d6cbcb;
width: 1000px;

}
.section2
{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    
}
.section2 p
{
    text-align: center;
    width: 292px;
    height: 26px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161616;
    
}
.section2 img
{
    width: 303px; 
    height: 303px;
    left: 70px;
    top: 612px;
    background: #C4C4C4;
    border-radius: 5px;
}