body
{
background: #d6cbcb;
margin: 0;
padding: 0;
width: 100%;
}
.banner
{
    display:flex; 
    width: 1100px;
    height: 375px;
    left: 0px;
    top: 95px;       
}
.top2
{       
    display: flex;
    justify-content: space-between;
    padding:10px;    
    width: 1300px;
    height: 24px;
    left: 69px;
    top: 503px;
}

.section1
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;     
    justify-content: space-between;
    max-width: 1100px;
    
}
.section1 h3
{
    text-align: center;
    width: 292px;
    height: 26px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161616;
    
}
.section1 p
{
width: 292px;
height: 30px;
left: 568px;
top: 975px;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #161616;
}

.section1 img
{
    width: 303px; 
    height: 303px;
    left: 70px;
    top: 612px;
    background: #C4C4C4;
    border-radius: 5px;
}
footer
{
    display: flex;
    width: 1440px;
    height: 348px;
    left: -6px;
    top: 2037px;    
    background: #afa6a6;    
}
.container
{
    border: 0.2px solid #A5A1A1;
    width: 1440px;
    height: 216px;    
    align-content: space-between;
}

li
{
    left: 71px;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}